<section>
    <h2>Crie sua pr칩pria sala</h2>
    <form action="">
        <!-- sr-only (screen only) serve para esconder o label do navegador. Existir치, mas ficar치 escondido. -->
        <label class="sr-only" for="room-pass">C칩digo da sala</label>
        <input id="room-pass" type="password" placeholder="Insira uma senha">
        <button>
            <img src="./images/user.svg" alt="Entrar na sala">
            Criar Sala
</section>