.content {
    display: grid;
    grid-template-columns: 60% 40% ; /*seta o tamanho das colunas. a soma das colunas tem que dar 100%*/
    grid-template-rows: 11.4rem1 1fr; /*1fr = todos espaço que sobra. Se fosse 1fr 2fr a página se dividiria em 3 frações e o 2fr ocuparia 2 terços da tela */

    grid-template-areas: /*Devide quem ocupada cada uma das quatro áreas definidas acima*/
    'header header'
    'left right'
}

header {
    grid-area: header; /*linkando o grid acima(linha 7)*/
}

#bg {
    grid-area: left;
    
    background: url(/assests/home-bg-img.svg) no-repeat top/contain; /*no repeat para a imagem não se repetir */ /* top/contain para a imagem se encaixar na div que está*/
}

main {
    grid-area: right;

    display: flex;
    align-items: center;
}

main .container {
    width: min(36.3rem 100%); /*sempre da preferência ao menos valor informado. Se a tela for maior que 36.3rem ele fica em 100 para não vazar na tela */
    
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input {
    border: .2rem solid var(--gray-blue);
    padding: 0 1.6rem;
}

input, button, .button {
    width: 100%;
    margin-bottom: 1.8rem;
}